.loader-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #00000091;
    left: 0;
    top: 0;
    z-index: 99999;
    #loader {
        position: fixed !important;
        left: 60.4%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        /* height: 100%; */
        z-index: 9999;
        background: url(/frontImages/loader.svg) 50% 50% no-repeat RGB(255 13 13 / 0%);
        width: 125px;
        height: 130px;
        background-size: contain;
        left: 50%;
    }
}