@import "../styles/mediaQueries";

.dashboard-page {
	.icons-dash-back {
	    padding: 20px;
	    border-radius: 13px;
	    background: #020551;
	    position: relative;
	    @include responsive(big-desktop) {
          padding: 10px;
        }
	    .right-content-outer {
		    padding-left: 20px;
		    @include responsive(big-desktop) {
	          padding-left: 10px;
	        }
	        h4 {
			    line-height: 100%;
			    margin: 0px;
			}
			p {
			    margin: 0px;
			}
		}
		.icons-back {
		    width: 76px;
		    height: 76px;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    border-radius: 10px;
		    @include responsive(big-desktop) {
	          width: 46px;
    		  height: 46px;
    		  padding: 11px;
	        }
		}
		.plus-outer {
		    position: absolute;
		    right: 10px;
		    top: 10px;
		    svg {
			    font-size: 32px;
			    color: #f0810f;
			}
		}
	}
	.dashobard-revenue-sec {
	    padding: 50px 0px;
	}
	.upcoming-event-sec{
		.upcoming-event-outer {
			h5 {
			    font-size: 28px;
			    font-weight: 500;
			    margin-bottom: 30px;
			    @include responsive(big-desktop) {
		          font-size: 25px;
		        }
			    .nav-link {
				    color: #F0810F;
				    font-size: 24px;
				    @include responsive(big-desktop) {
			          font-size: 20px;
			        }
				}
			}
		}
		.upcoming-event-boxes {
		    background: #020551;
		    border-radius: 15px;
		    overflow: hidden;
		    .upcoming-inner-boxes {
			    padding: 15px;
			    h5 {
				    font-size: 20px;
				}
				p {
				    font-size: 16px;
				}
				span {
				    font-size: 14px;
				    padding: 4px 16px;
				    line-height: 100%;
				    display: inline-block;
				    border-radius: 5px;
				}

			}
		}
	}


}