@media screen and (max-width:575px){
	body .logo-img {
	    max-width: 130px;
	}
	body .header nav .container .right-header-location {
	    width: 110px;
	    right: 67px;
	    top: 20px;
	}
	.home-page .home-banner .banner-content h2 {
	    font-size: 28px !important;
	    line-height: 30px !important;
	}
	.home-page .home-banner .banner-content h2 span {
	    font-size: 48px;
	    display: block !important;
	    text-align: center !important;
	}
	.home-page .home-banner-business .banner-content h2 span span {
	    font-size: 27px !important;
	}
	.homebanner-content br {
	    display: none;
	}
	.btn-yellow-outer a {
	    padding: 9px 10px !important;
	    font-size: 18px !important;
	}
	.video-full {
	    height: 240px;
	}
	body .main-title h2, body .main-title .h2 {
	    line-height: 35px;
	}
	.home-page .full-img-banner-home .homebanner-content {
	    padding-left: 0;
	}
	.home-page ul li {
	    font-size: 16px !important;
	    line-height: 27px !important;
	}
	.pt-100 {
	    padding-top: 20px;
	}
	.home-page .full-img-banner-home .homebanner-content2 .p-24 {
	    font-size: 18px;	
	}
	.full-img-banner2-new .col-md-6 {
	    padding: 0px;
	}
	.home-page .full-img-banner2-new .rightimg-txt {
	    padding: 20px 10px 20px 10px;
	}
	.home-page .full-img-banner2-new .rightimg-txt h3 {
	    font-size: 30px;
	}
	.btn-yellow-outer {
	    text-align: center;
	}
	.home-page .interduce-sec .interduce-left2 p {
	    font-size: 18px;
	}
	.home-page .interduce-sec .interduce-left2 p br{
	    display:none;
	}
	.home-page .founding-sec2 .card-main .trail-red {
	    font-size: 26px;
	}
	.home-page .founding-sec2 .card-main .new-txt-price {
	    font-size: 12px !important;
	}
	.home-page .founding-sec2 .card-main .inner-card2 p br{
		display: none;
	}
	.deat-customer + .btn-yellow-outer a {
	    padding: 13px 50px !important;
	}
	.founding-sec2 .col-lg-6 {
	    margin: 10px 0px;
	}
	.home-page .home-banner .homebanner-content h2 {
	    font-size: 25px !important;
	}
	.home-page .early-sec .get-start-ttl {
	    font-size: 20px;
	}
	.home-page .home-banner .banner-content h2 {
	    font-size: 25px !important;
	}
	.home-page .home-banner .banner-content h2 span {
	    font-size: 38px;
	}
	.home-page .home-banner .banner-content h2:before {
	    display: none;
	}
	.home-page .home-banner .homebanner-content h2 {
	    font-size: 19px !important;
	}
	.home-page .home-banner .homebanner-content  br{
	    display: none;
	}
	.home-page .full-img-banner .homebanner-content h2 {
	    line-height: 35px;
	}
	.home-page .full-img-banner .homebanner-content2 h2 {
	    line-height: 38px;
	}
	.home-page .full-img-banner2 .rightimg-txt {
	    padding: 20px 20px;
	}
	.home-page .full-img-banner2 .rightimg-txt br {
	    display: none;
	}
	.home-page .full-img-banner2 .rightimg-txt h3 {
	    font-size: 23px;
	    margin: 30px 0px 30px 0px;
	}
	.home-page .interduce-sec .interduce-right h2 .leftspan {
	    font-size: 30px;
	    line-height: 100%;
	}
	.home-page .interduce-sec .interduce-right h2 {
	    font-size: 46px !important;
	    line-height: 47px;
	    text-align: center;
	}
	.home-page .interduce-sec .interduce-right h2 .rightspan {
	    justify-content: center;
	    font-size: 30px;
	}
	.home-page .interduce-sec .interduce-right h3 {
	    font-size: 40px;
	}
	.home-page .home-banner .homebanner-content .noneed-txt:after{
		display: none !important;
	}
}