@import "../../styles/mediaQueries";
@import "../../styles/colors";

.profile-main-sec{
	.profile-edit-outer{
		.profile-edit {
		    display: flex;
		    align-items: center;
		    .profile-circle {
			    position: relative;
			    // margin-right: 30px;
			    margin-right: 0px;
			    .profile-img {
				    width: 150px;
				    height: 150px;
				    border-radius: 50%;
				}
				svg {
				    position: absolute;
				    // color: $primary;
				    bottom: 15px;
				    right: 3px;
				    font-size: 30px;
				    color: '#000';
				}
				.form-control {
				    position: absolute;
				    width: 100%;
				    height: 100%;
				    top: 0;
				    left: 0;
				    opacity: 0;
				    z-index: 1;
				}
			}
			h4 {
			    font-size: 38px;
			    font-weight: 400;
			}
		}
	}
}