.prices-page {
	.price-section{
		padding: 0px 0px 100px;
		position: relative;
    	z-index: 1;
		.price-box {
		    background: #020551;
		    border-radius: 29px;
		    padding: 30px 20px;
		    position:relative;
		    h3 {
			    font-size: 28px;
			    font-weight: bold;
			    position: relative;

			}
			h2 {
			    font-size: 65px;
			    position: relative;
			    @include responsive(big-desktop) {
		          font-size: 55px;
		        }
		        @include responsive(tab-land) {
		          font-size: 40px;
		        }
			    span {
				    font-size: 22px;
				    display: inline-block;
				    position: relative;
				    left: -17px;
				}
			}
			ul {
			    margin: 0px;
			    padding: 0px;
			    list-style: none;
			    position: relative;
			    li {
				    font-size: 22px;
				    margin-bottom: 11px;
				    @include responsive(big-desktop) {
			          font-size: 16px;
			        }
				    &.green-icon{
				    	svg {
						    fill: #00A74E;
						}
				    }
				    &.red-icon{
				    	svg {
						    fill:#D90A0A;
						}
				    }
				}
			}
			p{
				position: relative;
			}
			.price-btn {
			    margin-top: 40px;
			    position: relative;
			}
			&:before{
				background:url(../../../assets/images/price-mask.png) 0 0 no-repeat;
		    	content: "";
			    position: absolute;
			    background-size: 100%;
			    width: 250px;
			    height: 480px;
			    top: 0;
			    right: 0;
			}
		}
		.col-lg-4 {
			margin:20px 0px;
			padding:0px 25px;
		    &:first-child{
		    	padding-left:15px;
		    }
		}
		.price-lightblue{
			background:#000491;
		}
	}


}

.profile-main-sec{
	.outer-form-plan{
		.StripeElement--empty{
			background:red;
		}
	}
}
.payment-page {
	.outer-form-plan {
			    margin: 10px 0px;
			    .outer-form{
			    	margin:10px 0px;
			    	.form-label {
					    color: #A7A7A7;
					    font-size: 20px;
					}

					input {
					    border: none;
					    border-radius: 3px;
					    background: #000361;
					    height: 50px;
					    color:#fff;
					    &.errors{
					    	box-shadow: 0 0 0 0.25rem RGB(255 0 0 / 40%);
					    }
					}
					.StripeElement {
					    display: block;
					    margin: 10px 0 20px 0;
					    max-width: 500px;
					    padding: 10px 14px;
					    font-size: 1em;
					    border: 0;
					    outline: 0;
					    border-radius: 4px;
					    background: #000361;
					}
					.master-card-input {
					    position: relative;
					    img {
						    position: absolute;
						    top: 7px;
						    right: 7px;
						}
						svg {
						    position: absolute;
						    right: 10px;
						    top: 8px;
						    font-size: 29px;
						    color: #f0810f;
						}
						.StripeElement {
						    display: block;
						    margin: 10px 0 20px 0;
						    max-width: 500px;
						    padding: 10px 14px;
						    font-size: 1em;
						    border: 0;
						    outline: 0;
						    border-radius: 4px;
						    background: #000361;
						}
					}
					.auto_renew {
						input {
							    width: 20px;
							    height: 20px;
							    margin: 0px 13px;
						}
					}
					.css-yk16xz-control, .css-1pahdxg-control {
					    border: none !important;
					    border-radius: 3px;
					    background: #000361;
					    height: 50px;
					    box-shadow:none;
					    .css-1hwfws3 {
						    height: 50px;
						    color: #fff !important;
						    padding-left: 10px;
						}
					}

			    }
			}
	.subscribe-banner-section {
		.basic-plan-outer {
		    padding: 20px 40px;
		    border-radius: 30px;
		    position: relative;
		    background: #000491;
		    .monthly-plan-radio {
			    display: flex;
			    justify-content: end;
			    .monthly-plan-inner {
				    background: #05062E;
				    padding: 13px;
				    border-radius: 15px;
				    max-width: 280px;
				    width: 100%;
				    display: flex;
				    justify-content: space-between;
				    margin-left: 25px;
				    [type="radio"] {
					    zoom: 1.8;
					}
					&.orange-back {
					    background: #f0810f;
					}
				}
			}
			
		}
		.modal__wrap {
			.modal-title {
				svg {
				    font-size: 80px;
				    color: #F0810F;
				}
			}
			h4{
				font-weight: 400;
			}
		}

	}
}